.promo-tours{
    width: 1280px;
    height: 304px;
    margin: -50px auto 0 auto;
    // background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    padding-left: 180px;
    padding-right: 180px;

    .promo{
        // margin: 0 auto;
        padding-top: 40px;
        height: 304px;
        width: 236px;
        text-align: center;
        color: $white;
        font-family: Proxima;
        
        // background-color: bisque;
        // margin-right: 50px;

        h1{
            font-size: $proxima-title;
            margin-bottom: 0;
        }
        h3{
            font-size: 30px;
        }

        button{
            margin: 24px 0;
            background-color: $site-blue;
            color: $white;
            border: none;
            border-radius: 20px;
            width: 133px;
            height:40px;
        }
    }

    // this is for the background images for the tours
    #promo-one{
        background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #promo-two{
        background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-02.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #promo-three{
        background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../images/tour/tour-03.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}